.section__blanket {
  padding: 85px 0;
  color: var(--primary-text);
}

.blanket {
  &__header {
    position: relative;
    padding-bottom: 124px;
  }

  &__info-header {
    position: absolute;
    top: 234px;
    right: 0;
    max-width: 280px;
    font-size: 30px;

    &--top {
      top: 573px;
      right: 100px;
    }
  }

  &__main > *:not(:last-child) {
    margin-bottom: 35px;
  }

  &__item-main {
    display: flex;
    gap: 50px;

    &--reverse {
      flex-direction: row-reverse;
    }
  }

  &__item-main img {
    max-width: 500px;
    max-height: 500px;
  }

  .item {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
      font-size: 40px;
      color: var(--subtitle-text);
      margin-bottom: 50px;
    }

    &__text {
      font-size: 30px;
    }
  }
}

@media (max-width: 1600px) {
  .blanket {
    &__img-header {
      max-width: 1400px;
    }
  }
}

@media (max-width: 1440px) {
  .blanket {
    &__img-header {
      max-width: 1100px;
    }

    &__info-header {
      top: 173px;
      right: 129px;

      &--top {
        top: 436px;
        right: 224px;
      }
    }
  }

  .item {
    &__title {
      font-size: 30px;
      color: var(--subtitle-text);
      margin-bottom: 50px;
    }

    &__text {
      font-size: 20px;
    }
  }
}

@media (max-width: 1366px) {
  .blanket {
    &__info-header {
      right: 0;

      &--top {
        right: 94px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .blanket {
    &__img-header {
      max-width: 900px;
    }

    &__info-header {
      font-size: 20px;
      top: 153px;
      right: -75px;
      max-width: 200px;

      &--top {
        top: 362px;
        right: 7px;
      }
    }
  }
}

@media (max-width: 992px) {
  .blanket {
    &__img-header {
      max-width: 700px;
    }

    &__info-header {
      top: 107px;
      right: -48px;
      max-width: 200px;

      &--top {
        top: 280px;
        right: 33px;
      }
    }

    &__item-main {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .blanket {
    &__img-header {
      width: 400px;
    }

    &__info-header {
      top: 46px;
      right: 77px;
      max-width: 204px;

      &--top {
        top: 149px;
        right: 158px;
      }
    }

    &__item-main img {
      max-width: 300px;
      max-height: 300px;
    }
  }
}

@media (max-width: 575px) {
  .blanket {
    &__info-header {
      right: -123px;

      &--top {
        right: -37px;
      }
    }

    &__item-main img {
      max-width: 300px;
      max-height: 300px;
    }
  }
}

@media (max-width: 375px) {
  .blanket {
    &__img-header {
      width: 300px;
    }

    &__info-header {
      font-size: 16px;
      top: 30px;
      right: -134px;

      &--top {
        top:110px;
        right: -37px;
      }
    }
  }
}


