.section__comparison {
  background: var(--background) url("../img/cloud.png") bottom no-repeat;
  color: var(--secondary-text);
}

.comparison {
  &__container {
    padding-top: 85px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 50px;
  }

  &__title-block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;

    &--fs50 {
      text-align: center;
      font-size: 50px;
      padding-bottom: 300px;
    }
  }

  &__span {
    display: inline-block;
    font-size: 60px;
    margin-top: 40px;
    text-transform: uppercase;

  }

  &__img {
    height: 320px;
    margin-bottom: 45px;
  }

  &__subtitle {
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 47px;
  }

  &__table {
    display: flex;
    flex-direction: column;
  }

  &__item {
    font-size: 40px;
    color: var(--subtitle-text);
    margin: 20px 0;

    &--opacity {
      opacity: 0;
    }
  }

  &__bg-item {
    padding: 30px 0;
    font-size: 30px;
    max-width: 700px;
    background-color: var(--subtitle-text);
    border-radius: 10px;
    text-align: center;
  }

  &__info {
    display: flex;
  }

}

@media (max-width: 1520px) {
  .comparison {

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &__item {
      &--opacity {
        opacity: 1;
      }
    }

    &__subtitle {
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .comparison {
    &__block {
      width: 100%;
    }

    &__img {
      height: 300px;
      max-width: 500px;
    }
  }
}

@media (max-width: 575px) {
  .comparison {
    &__title {
      font-size: 30px;
    }

    &__img {
      height: 200px;
      max-width: 400px;
    }
  }
}